
    <div class="mdl-card__media mdl-color-text--grey-50 category-comment">
        <i class="material-icons">arrow_back</i>
        <i class="material-icons category-indicator">chat</i>
    </div>

    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
        <h3>${title}</h3>
        <p>
            Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
        </p>
        <button class="accept-challenge mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--green-700 mdl-color-text--white">
            Take challenge <span class="points-cost-indicator-detailed"><i class="material-icons" style="font-size:inherit">stars</i>&nbsp;<span>1000000</span></span>
        </button>
    </div>
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
        <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
                <label for="comment" class="mdl-textfield__label">Send e-mail</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">send</i><span class="visuallyhidden">add comment</span>
            </button>
        </form>
    </div>