<header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title" onclick=" $(location).attr('href', 'index.html');">OurHelp</span>
        <div class="mdl-layout-spacer"></div>
        <div id="up"></div>
    </div>
</header>
<div class="mdl-layout__drawer is-visible" aria-hidden="false">
    <span class="mdl-layout-title">OurHelp</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link menu-points-indicator"><i class="material-icons">stars</i>&nbsp;420</a>
      <div class="mdl-collapse mdl-collapse--opened">
        <a class="mdl-navigation__link mdl-collapse__button">
          <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
          Categories
        </a>
        <div class="mdl-collapse__content-wrapper">
          <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -168px;">
            <a class="mdl-navigation__link" onclick="$(location).attr('href', 'index.html');"><i class="material-icons menu-category-icon">build</i>Praca fizyczna</a>
            <a class="mdl-navigation__link" onclick="$(location).attr('href', 'index.html');"><i class="material-icons menu-category-icon">border_color</i>Zadania domowe</a>
            <a class="mdl-navigation__link" onclick="$(location).attr('href', 'index.html');"><i class="material-icons menu-category-icon">lightbulb_outline</i>Pomoc w nauce</a>
          </div>
        </div>
      </div>
      <a class="mdl-navigation__link" href="ranking.html"><i class="material-icons menu-category-icon">trending_up</i>Ranking</a>
      <a class="mdl-navigation__link" href="#PROFILE_PAGE">$username</a>
      <a class="mdl-navigation__link" href="info.html"><i class="material-icons menu-category-icon">help_outline</i>Info</a>
      <a class="mdl-navigation__link" href="#LOG_OUT">Log out</a>
    </nav>
  </div>
